.nav-header {
    font-size: large;
    font-weight: bold;
    padding: 20px;
}

.nav-header > link > .nav-item {
    text-decoration: none;
    text-decoration-style: none;
    text-decoration-line: none;
}
